  * {
	        margin: 0px; padding: 0px;
	        font-family: NanumGothicBold, 나눔고딕볼드, Dotum, 돋움, Gulim, 굴림, AppleGothic, Sans-serif; font-size: 15px; color: #505050; line-height: 28px;
	        word-break: keep-all;
        }