<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433 을 방문하십시오.
  -->
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TG_BIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WebServiceUrl" value="192.168.100.161"/>
    <add key="SystemCode" value="SYS201406D"/>
    <add key="LoginRedirectUrl" value="~/LoginRedirect.aspx"/>
    <add key="ErrorPageUrl" value="~/ErrorPage.aspx"/>
    <add key="PublicKey" value="395BB0DAFA02BA520EDB43E7EDF06BBFD72FC13A5209243270539E01074B0EA4"/>
	<add key="PassKey" value="JINIEP"/>
  </appSettings>
  <extnet theme="Neptune" licenseKey="NDY0NTU2MDYsMiw5OTk5LTEyLTMx"/>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="ActiveReports.Web, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
        <add assembly="ActiveReports.PdfExport, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
        <add assembly="ActiveReports.HtmlExport, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
        <add assembly="ActiveReports6, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
        <add assembly="ActiveReports.Document, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" timeout="2000"/>
    </authentication>
    <sessionState timeout="2000"/>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
      <add verb="*" path="*.rpx" type="DataDynamics.ActiveReports.Web.Handlers.RpxHandler, ActiveReports.Web, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.ActiveReport" type="DataDynamics.ActiveReports.Web.Handlers.CompiledReportHandler, ActiveReports.Web, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.ArCacheItem" type="DataDynamics.ActiveReports.Web.Handlers.WebCacheAccessHandler, ActiveReports.Web, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
        <add assembly="ActiveReports.Web" namespace="DataDynamics.ActiveReports.Web" tagPrefix="activereportsweb"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="12288" executionTimeout="600"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
    <handlers>
      <add name="ActiveReports WebCache Handler" path="*.ArCacheItem" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ActiveReport ActiveReports Compiled Report Handler" path="*.ActiveReport" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ActiveReport RPX Handler" path="*.RPX" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.RpxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.7" newVersion="5.0.8"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.1" newVersion="2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TG_BIN.Properties.Settings>
      <setting name="TG_BIN_wsAppDocSearch_wsAppDocSearchElement" serializeAs="String">
        <value>http://gw.taeyoung.co.kr:80/pilot/WebService.nsf/wsAppDocSearch?OpenWebService</value>
      </setting>
      <setting name="TG_BIN_wsdominoadmin_wsDominoAdminElement" serializeAs="String">
        <value>http://gw.taeyoung.co.kr:80/pilot/webservice.nsf/wsdominoadmin?OpenWebService</value>
      </setting>
    </TG_BIN.Properties.Settings>
  </applicationSettings>
</configuration>